<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>AeroTerm</string>
    <key>CFBundleDisplayName</key>
    <string>AeroTerm</string>
    <key>CFBundleIdentifier</key>
    <string>com.aeroterm.app</string>
    <key>CFBundleVersion</key>
    <string>__BUNDLE_VERSION__</string>
    <key>CFBundleShortVersionString</key>
    <string>__BUNDLE_VERSION__</string>
    <key>CFBundleExecutable</key>
    <string>aeroterm</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © AeroTerm Developers. Licensed under the GPLv2.</string>
</dict>
</plist>
